@model DamasarenModel
@{
    ViewData["Title"] = "Home page";
}

<div id="content">
  <form method="post" enctype="multipart/form-data" asp-controller="Damasaren" asp-action="OnPost" name="postform">         
  <table width="100%">
    <tr>
        <td style="height:20px">
          <!-- blank --> 
        </td>
    </tr>
    <tr>
        <td>
          <label for="uploadFile" class="button" >
              音声を選択する
              <input type="file"  name="uploadFile"  id="uploadFile" style="display:none"/>
          </label>
        </td>
        <td style="align:center">
          <img src="/images/arrow.png" style="width:80%;height:80%;"/>
        </td>
        <td>
          <a href= "#" class="button" onclick="javascript:postform.submit()">詐欺判定する</a>
        </td>
        <td style="align:center">
          <img src="/images/arrow.png" style="width:80%;height:80%;"/>
        </td>
        <td>
          <a href= "#" class="buttonRed">警察に相談する</a>
        </td>
    </tr>
  </table>
  </form>

  <br>
   <table>
    <tr>
      <td valign="top">音声内容</td>
      <td></td>
      <td valign="top">主なキーフレーズ</td>
    </tr>
    
    <tr>
      <td><textarea id="phraseDiv" style="display: inline-block;width:500px;height:300px">@Model.resultMessage</textarea></td>
      <td>　　　　　　</td>
      <td valign="top"><textarea id="keyPrase" style="display: inline-block;width:500px;height:300px"></textarea>
    </tr>

     <tr>
      <td></td>
      <td></td>
      <td align="right" valign="top"></td>
    </tr>
  </table>
</div>